.popup__button_inactive {
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #FFF;
    color:  #000000;
    padding: 13px auto 18px auto;
    height: 50px;
    border: none;
    transition: background .2s linear;
    z-index: 10;
    border: 1px solid #000;
  }

  .popup__button_inactive:hover {
    background-color: #FFF;
    color:  #000000;
  }
  