.popup__button {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #000;
  color: white;
  padding: 13px auto 18px auto;
  height: 50px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  transition: background .2s linear;
  z-index: 10;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
}