.popup_infotooltip__button {
  border-radius: 2px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 13px auto 18px auto;
  height: 50px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  z-index: 15;
  color: black;
  z-index: 11;
}

.popup_infotooltip__button:hover {
  background: rgba(255, 255, 255, 0.8);
}